In [11]:



todo_list=[]

def add_to_list(name, address, age, mark):
    d={"name":name, "address":address, "age":age, "mark":mark}
    todo_list.append(d)

def get_all_student():
    return todo_list;

def get_average_marks():
    sum=0
    for x in todo_list:
        sum+=x["mark"]
    print(sum/len(todo_list))
        

add_to_list("piyush", "india", 23,98)
add_to_list("ayush", "USA", 24,98)

add_to_list("rishi", "india", 26,94)




students=get_all_student()
get_average_marks()

for x in students:
    print(x)

96.66666666666667
{'name': 'piyush', 'address': 'india', 'age': 23, 'mark': 98}
{'name': 'ayush', 'address': 'USA', 'age': 24, 'mark': 98}
{'name': 'rishi', 'address': 'india', 'age': 26, 'mark': 94}